<div class="card">
  <h3 class="card-title" align="center">Comunicación entre componente padre y componente hijo</h3>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Componente padre</h3>
      <input (input)="textoPadre = $event.target.value" class="form-control"
        placeholder="Texto a enviar al componente hijo">
      <br />
      <span>Mensaje enviado desde el componente hijo: <b>{{ textoPadre2 }}</b></span>
    </div>
  </div>
  <app-hijo [textoHijo]="textoPadre" (enviar)="recibirMensaje($event)"></app-hijo>
</div>
